.button {
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;

    &:disabled,
    &:disabled:hover {
        background: $gray-300;
        color: $black-400;
        cursor: wait;
    }
}

// THEME -------------------------------------
.green_light {
    background: $green-blue-gradiente;
    color: $black-400;

    &:hover {
        background: $green-400;
    }
}

.green_ghost {
    color: $green-400;
    background: transparent;

    &:hover {
        color: $blue-200;
    }
}

.dark {
    color: $white;
    background: $black-400;
    outline: 1px solid $blue-900;

    &:hover {
        background: $blue-900;
    }
}

.dark_blue {
    color: $white;
    background: $blue-900;
    outline: $blue-950;

    &:hover {
        background: $blue-800;
    }
}

// SIZE ----------------------------------------
.big {
    font-size: 1.25rem;
}

.normal {
    font-size: 1rem;
}

.small {
    font-size: 0.875rem;
}
