.button {
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
}

.green_light {
    background: $green-blue-gradiente;
    color: $black-400;

    &:hover {
        background: $green-400;
    }
}
