.title {
    text-align: center;
}

.white {
    color: $white;
}

.colored {
    background: $green-blue-gradiente;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
