.title {
    font-size: 3rem;
    font-weight: 700;

    @include mixin.tablet {
        font-size: 2.5rem;
    }

    @include mixin.mobile {
        font-size: 1.75rem;
    }

    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}

.white {
    color: $white;
}

.colored {
    background: $green-blue-gradiente;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
