.icon_box {
    padding: 8px;
    border-radius: 8px;
    background: $green-blue-gradiente;

    @include mixin.mobile {
        padding: 6px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
}
