$white: white;

$green-400: #02f77b;

$black-400: #121212;

$gray-200: #e5e5e5;
$gray-300: #9c9c9c;

$blue-200: #01e6eb;
$blue-800: #19404d;
$blue-900: #13323c;
$blue-950: #0b1c27;
$blue-975: #08141b;

$green-blue-gradiente: linear-gradient(125deg, $green-400, $blue-200);
$bg-blue-gradiente: linear-gradient(125deg, $blue-975, $black-400);
$bg-green-dark-gradiente: linear-gradient(
    127deg,
    rgb(4, 15, 12) 0%,
    rgba(9, 29, 27, 1) 15%,
    rgba(18, 18, 18, 1) 74%
);
