.card {
    --card-padding: 24px;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: var(--card-padding);
    border-radius: 8px;
    outline: 1px solid $blue-900;
    overflow: hidden;

    @include mixin.tablet {
        --card-padding: 20px;
        gap: 12px;
    }

    @include mixin.mobile {
        --card-padding: 16px;
        gap: 12px;
    }

    &:hover {
        outline: 1px solid $green-400;

        .circle {
            --circle-transparent: 70%;
            --circle-opacity: 0.2;
        }
    }
}

.circle {
    --circle-transparent: 60%;
    --circle-opacity: 0.1;

    position: absolute;
    top: -75px;
    right: -75px;
    width: 200px;
    height: 200px;
    background: radial-gradient(
        $blue-900 0%,
        transparent var(--circle-transparent)
    );
    background-repeat: no-repeat;

    &.color_ {
        &sandbox {
            background: radial-gradient(
                rgba(255, 0, 0, var(--circle-opacity)) 0%,
                transparent var(--circle-transparent)
            );
        }

        &fps {
            background: radial-gradient(
                rgba(0, 128, 0, var(--circle-opacity)) 0%,
                transparent var(--circle-transparent)
            );
        }

        &open_world {
            background: radial-gradient(
                rgba(255, 255, 0, var(--circle-opacity)) 0%,
                transparent var(--circle-transparent)
            );
        }

        &survival {
            background: radial-gradient(
                rgba(0, 0, 255, var(--circle-opacity)) 0%,
                transparent var(--circle-transparent)
            );
        }

        &2d_sandbox {
            background: radial-gradient(
                rgba(128, 0, 128, var(--circle-opacity)) 0%,
                transparent var(--circle-transparent)
            );
        }
    }
}

.flag_pop {
    position: absolute;
    top: var(--card-padding);
    right: var(--card-padding);
    padding: 2px 4px;
    border-radius: 8px;
    outline: 1px solid $green-400;
    font-size: 0.6rem;
    text-transform: uppercase;
    color: $green-400;

    @include mixin.mobile {
        font-size: 0.5rem;
        padding: 1px 3px;
    }
}

.title {
    font-size: 1.25rem;

    @include mixin.tablet {
        font-size: 1.1rem;
    }

    @include mixin.mobile {
        font-size: 1rem;
    }
}

.subtitle {
    margin-top: 8px;
    font-size: 0.875rem;
    text-transform: uppercase;

    @include mixin.mobile {
        font-size: 0.75rem;
        margin-top: 4px;
    }
}

.main {
    display: flex;
    gap: 24px;

    @include mixin.tablet {
        gap: 16px;
    }

    @include mixin.mobile {
        gap: 12px;
        flex-direction: column;
    }
}

.info {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 0.875rem;
    color: $gray-300;

    @include mixin.mobile {
        font-size: 0.8rem;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    border-top: 1px solid $blue-900;

    @include mixin.mobile {
        padding-top: 6px;
    }
}

.status_container {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.875rem;
    color: $gray-300;

    @include mixin.mobile {
        font-size: 0.75rem;
    }
}

/*************
* LIST VIEW
**************/

.card.list {
    --card-padding: 8px;

    flex-direction: row;
    width: 100%;
    padding: 8px 100px 8px 24px;
    display: flex;
    align-items: center;

    @include mixin.tablet {
        padding: 8px 80px 8px 20px;
    }

    @include mixin.mobile {
        padding: 8px 16px 8px 16px;
        overflow-x: auto;
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        flex: 1;
    }

    .flag_pop {
        transform: translate(-24px, 50%);
    }

    .main {
        flex: 1;
    }

    .info {
        flex: 1;
        max-width: 102px;
    }

    .title {
        flex-basis: 40%;
        text-align: left;
    }

    .subtitle {
        flex-basis: 30%;
        margin-top: 0;
        text-align: left;
    }

    .footer {
        padding-top: 0;
        border: none;
        flex: 1;
        max-width: fit-content;
    }
}
