.section {
    padding-bottom: 80px;

    @include mixin.tablet {
        padding-bottom: 60px;
    }

    @include mixin.mobile {
        padding-bottom: 40px;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 24px;

    @include mixin.tablet {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        gap: 16px;
    }

    @include mixin.mobile {
        grid-template-columns: 1fr;
        gap: 12px;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.switch_view_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    margin-left: auto;

    @include mixin.mobile {
        display: none;
        padding: 16px 0;
    }
}

.switch_view_button {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: 1px solid $blue-900;
    background: transparent;

    @include mixin.mobile {
        width: 36px;
        height: 36px;
    }

    & + & {
        margin-left: 8px;
    }
}
